---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<h1 class="semantic-page-heading">{text}</h1>

<style>
  .semantic-page-heading {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
</style>
